# Referenced from https://redgreenrepeat.com/2018/06/01/nginx-load-balancer-configuration/

# Define all available server
upstream backend {
    random two least_time=last_byte;
#   server 12.168.7.2;
    server 12.168.7.3;
    server 12.168.7.4;
}

# Default server configuration

server {
        listen 80;

        root /var/www/html;

        # Add index.php to the list if you are using PHP
        index index.nginx-debian.html;

        location / {
            proxy_pass http://backend;
        }
}


# Virtual Host configuration for example.com
#
# You can move that to a different file under sites-available/ and symlink that
# to sites-enabled/ to enable it.
#
#server {
#       listen 80;
#       listen [::]:80;
#
#       server_name example.com;
#
#       root /var/www/example.com;
#       index index.html;
#
#       location / {
#               try_files $uri $uri/ =404;
#       }
#}